<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 引入Hibernate的配置的信息=============== -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!-- 引入hibernate的配置文件 -->
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>

    <!-- 配置UserAction -->
    <bean id="userAction" class="web.action.UserAction" scope="prototype">
        <property name="userService" ref="userService"/>
    </bean>
    <!-- 配置Service -->
    <bean id="userService" class="service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <!-- 配置DAO -->
    <bean id="userDao" class="dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--配置customer-->
    <bean id="customerAction" class="web.action.CustomerAction" scope="prototype">
        <property name="customerService" ref="customerService"/>
    </bean>
    <!-- 配置Service -->
    <bean id="customerService" class="service.impl.CustomerServiceImpl">
        <property name="customerDao" ref="customerDao"/>
    </bean>
    <!-- 配置DAO -->
    <bean id="customerDao" class="dao.impl.CustomerDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--配置baseDict-->
    <bean id="baseDictAction" class="web.action.BaseDictAction" scope="prototype">
        <property name="baseDictService" ref="baseDictService"/>
    </bean>
    <!-- 配置Service -->
    <bean id="baseDictService" class="service.impl.BaseDictServiceImpl">
        <property name="baseDictDao" ref="baseDictDao"/>
    </bean>
    <!-- 配置DAO -->
    <bean id="baseDictDao" class="dao.impl.BaseDictDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--配置LinkMan-->
    <bean id="linkManAction" class="web.action.LinkManAction" scope="prototype">
        <property name="linkManService" ref="linkManService"/>
    </bean>
    <!-- 配置Service -->
    <bean id="linkManService" class="service.impl.LinkManServiceImpl">
        <property name="linkManDao" ref="linkManDao"/>
    </bean>
    <!-- 配置DAO -->
    <bean id="linkManDao" class="dao.impl.LinkManDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean><!--配置baseDict-->


    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- 开启注解事务 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>